<!DOCTYPE html>
<!--suppress CheckEmptyScriptTag, HtmlUnknownTag -->
<html xmlns:th="http://www.w3.org/1000/xhtml" lang="en">
<head th:replace="common/header :: common-header"/>
<body>
<div th:replace="common/header :: navbar"/>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5">
            <h3>Latest queues:</h3>
            <table border="0" id="latestQueueList" class="table table-hover">
                <thead>
                <tr>
                    <th class="col-xs-4">Name</th>
                    <th class="col-xs-5">Description</th>
                    <th class="col-xs-3">Tickets</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="queue : ${latestQueueList}" th:onclick="'javascript:queueRowClicked(\'' + ${queue.id} + '\');'">
                    <div th:if="${queue != null}">
                        <td th:text="${queue.name}"></td>
                        <td th:text="${queue.description}"></td>
                        <td th:text="${queue.ticketList.size()} + '/' + ${queue.ticketsTotal}"></td>
                    </div>
                </tr>
                </tbody>
            </table>
            <a th:href="@{/queues/newQueue}">
                <button type="button" class="btn btn-primary">Create new queue</button>
            </a>
        </div>
        <div class="col-sm-5">
            <h3>Your tickets:</h3>
            <div th:if="${user.userTicketList.size()} == 0">
                <span>You have no tickets</span>
            </div>
            <div th:if="${user.userTicketList.size()} > 0">
                <table border="0" id="userTicketList" class="table table-hover">
                    <thead>
                    <tr>
                        <th class="col-xs-2" data-field="place">#</th>
                        <th class="col-xs-6" data-field="name">Queue</th>
                        <th class="col-xs-4" data-field="created">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="ticket : ${user.userTicketList}" th:onclick="'javascript:queueRowClicked(\'' + ${ticket.queue.id} + '\');'" th:switch="${ticket.relativePosition}">
                        <div th:case="'1'" th:if="${ticket != null and ticket.active}">
                            <td th:class="table-success" th:text="${ticket.relativePosition}"></td>
                            <td th:class="table-success" th:text="${ticket.queue.name}"></td>
                            <td th:class="table-success" th:text="${#temporals.format(ticket.issued)}"></td>
                        </div>
                        <div th:case="'2'" th:if="${ticket != null and ticket.active}">
                            <td th:class="table-success" th:text="${ticket.relativePosition}"></td>
                            <td th:class="table-success" th:text="${ticket.queue.name}"></td>
                            <td th:class="table-success" th:text="${#temporals.format(ticket.issued)}"></td>
                        </div>
                        <div th:case="'3'" th:if="${ticket != null and ticket.active}">
                            <td th:class="table-warning" th:text="${ticket.relativePosition}"></td>
                            <td th:class="table-warning" th:text="${ticket.queue.name}"></td>
                            <td th:class="table-warning" th:text="${#temporals.format(ticket.issued)}"></td>
                        </div>
                        <div th:case="'4'" th:if="${ticket != null and ticket.active}">
                            <td th:class="table-warning" th:text="${ticket.relativePosition}"></td>
                            <td th:class="table-warning" th:text="${ticket.queue.name}"></td>
                            <td th:class="table-warning" th:text="${#temporals.format(ticket.issued)}"></td>
                        </div>
                        <div th:case="'5'" th:if="${ticket != null and ticket.active}">
                            <td th:class="table-warning" th:text="${ticket.relativePosition}"></td>
                            <td th:class="table-warning" th:text="${ticket.queue.name}"></td>
                            <td th:class="table-warning" th:text="${#temporals.format(ticket.issued)}"></td>
                        </div>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-2">
            <br/>
            <h3>Your email:</h3>
            <span th:text="${user.username}"></span>
            <h3>Your name:</h3>
            <span th:text="${user.name}"></span>
            <h3>Your queues:</h3>
            <div th:if="${user.userQueueAdminList.size()} == 0">
                <span>You have no queues</span>
            </div>
            <div th:if="${user.userQueueAdminList.size()} > 0">
                <table border="0" id="userQueueList" class="table table-hover">
                    <thead>
                    <tr>
                        <th class="col-xs-4">Name</th>
                        <th class="col-xs-5">Description</th>
                        <th class="col-xs-3">Tickets</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="queue : ${user.userQueueAdminList}" th:onclick="'javascript:queueRowClicked(\'' + ${queue.id} + '\');'">
                        <div th:if="${queue != null}">
                            <td><span th:text="${queue.name}"></span></td>
                            <td><span th:text="${queue.description}"></span></td>
                            <td><span th:text="${queue.ticketList.size()}"></span>/<span th:text="${queue.ticketsTotal}"></span></td>
                        </div>
                    </tr>
                    </tbody>
                </table>
                <div id="feedback"></div>
                <a class="btn btn-primary" th:href="'javascript:sendAjaxTicketUpdate()'">Update</a>
            </div>
        </div>
    </div>
</div>
<div th:replace="common/header :: body-bottom-scripts"/>
</body>
</html>